body {
    background-color: chartreuse;
    color: orangered;
}

 .gator {
   max-width: 250px;
   border-radius: 25px;
   margin: auto;
   display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}